<body>
    <div class="container-fluid-father">
        <div class="header">
            <div class="empresa-versao">
                <div class="primeiro-icone"><strong>&nbsp;Panvel</strong></div>
                <div class="versao">v7.0.0-1 - 01/03/2021 - 10:00:00</div>
            </div>
            <div class="omni">
                <!-- <img class="logopdv" src="imagens/logo-omniPharma.png"> -->
            </div>
            <div class="col">
                <div class="margin">
                    <i opacity="0.4" class="fas fa-shopping-bag"></i>
                </div>
                <div class="margin">
                    <i opacity="0.4" class="fas fa-history"></i>
                </div>
                <div class="margin">
                    <i opacity="0.4" class="fas fa-exclamation"></i>
                </div>
                <span class="margin"><strong>&nbsp; &nbsp;Sem Operador</strong> </span>
                <i class="fas fa-angle-down"></i>
            </div>
        </div>
        <div class="sub">
            <div class="search">
                <div class="bar" title="Mostrar menu">
                    <i class="fas fa-align-justify fa-3x"></i>

                </div>
                <div class="buscar">
                    <form class="buscarItem" [formGroup]="buscarForm" (ngSubmit)="onSubmit()">
                        <i class="fas fa-search fa-2x"></i>
                        <input class="itens" type="text" id="buscar" placeholder="Buscar por item"
                            formControlName="codigoItem">
                        <button class="submit" type="submit" Keyboard.enter>Search</button>
                    </form>
                </div>
            </div>
            <div class="toggle">
                <div class="espaco">
                    <input class="gb" type="checkbox" id="switch"><label class="yesorno" for="switch">Toggle</label>
                </div>
                <span class="consulta">Consulta preço</span>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Filtrar</button>
                <i class="fas fa-filter fa-3x"></i>
                <div class="dropdown-content">
                    <ul>
                        <header class="titulo">Filtrar</header>
                        <hr>
                        <form>
                            <div class="f">
                                <div class="um">
                                    <input class="mod" type="checkbox" id="vehicle1" name="vehicle1">
                                    <label class="ok" for="vehicle1"> Itens trabalhados</label><br>
                                </div>
                                <div class="dois">
                                    <input class="mod" type="checkbox" id="vehicle2" name="vehicle2">
                                    <label class="ok" for="vehicle2"> Itens com estoque</label><br>
                                </div>
                                <div class="tres">
                                    <input class="mod" type="checkbox" id="vehicle3" name="vehicle3">
                                    <label class="ok" for="vehicle3"> Itens PMB</label><br>
                                </div>
                                <div class="quatro">
                                    <input class="mod" type="checkbox" id="vehicle4" name="vehicle3">
                                    <label class="ok" for="vehicle4"> Itens Farmácia Popular</label><br>
                                </div>
                                <div class="cinco">
                                    <input class="mod" type="checkbox" id="vehicle5" name="vehicle3">
                                    <label class="ok" for="vehicle5"> Itens Pack</label>
                                </div>
                            </div>
                        </form>
                    </ul>
                </div>
            </div>

        </div>
        <div class="ultima">
            <div class="barra">
                <span class="cesta "><strong>Cesta (1)&nbsp;</strong>
                </span>
                <button class="limpar" (click)="clear()" title="Limpar cesta"> &nbsp;Limpar
                </button>
            </div>
            <div class="receita ">
                <i class="fas fa-file-medical fa-2x "></i>
                <button class="coletar ">Coletar receita</button>
            </div>
            <div class="cnpj ">
                <div>
                    <i class=" fas fa-search fa-2x "></i>
                </div>
                <div>
                    <input class="cnn " type="text " placeholder="Buscar por CPF, CNPJ ou Cartão ">
                </div>
            </div>
            <div class="final" title="Inserir cupom de ofertas">
                <div class="tags">
                    <i class="fas fa-tags fa-2x "></i>
                </div>
                <div title="Digitar CPf ou ler cartão">
                    <i class="fas fa-calculator fa-2x "></i>
                </div>
            </div>
        </div>
        <div *ngIf="!notFound && item">
            <div class="low">
                <div class="row-fluid-pedidoicone ">
                    <div class="produto ">
                        <span><strong>1 {{item.codigo}} - {{item.nomenclatura}}</strong></span>
                    </div>
                    <div class="row-fluid-iconMais "  data-toggle="tooltip "
                        data-placement="bottom " title="Capturar Receita ">
                        <i class="fas fa-plus-square"></i>
                    </div>
                </div>

                <div class="container-fluid-estoque ">
                    <div class="row-fluid-status ">
                        <span style="color:green">Disponível:10</span>
                    </div>
                    <div class="row-fluid-reserva ">
                        <span><strong>Reservado:0</strong></span>
                    </div>

                    <button class="row-fluid-verEstoque "> Ver estoque cd</button>
                </div>
                <div class="container-fluid-valor ">
                    <div class="row-fluid-preco ">
                        <span><strong>Preço:</strong></span>
                    </div>
                    <div class="row-fluid-valorReal ">
                        <span><strong id="valorUnitario">{{formatacao}}</strong></span>
                    </div>
                </div>
                <div class="container-fluid-aumentarValor ">
                    <div class="row-fluid-qty ">
                        <span class="row-fluid-minus minus" (click)="minus()"><strong>-</strong></span>
                        <input class="row-fluid-count count" type="text" id="inputQuantidade" [value]="quantity">
                        <span class="row-fluid-plus plus" (click)="plus()"><strong>+</strong></span>
                    </div>
                </div>
                <div class="container-fluid-lixo ">
                    <i class="far fa-trash-alt " (click)="clear()"></i>
                </div>
            </div>
        </div>
        <div *ngIf="notFound">
            <div class="alert alert-danger" role="alert">
                <div class="erro">
                    Código digitado não possui produto cadastrado!</div>
              
                            </div>
                  </div>


        <footer type="container-fluid-responsive ">
            <div class=" container-fluid-rodape ">
                <div class="row-fluid-valorTotal ">
                    <span><strong>Total</strong></span>
                    <span class="maior "><strong id="total">{{formatacao}}</strong></span>
                </div>

                <div class=" row-fluid-entregaSalvar ">
                    <button type="button " class="entrega ">Entrega</button>


                    <button type="button " class="salvar ">Salvar pré-venda</button>
                    <button type="button " class="pagamento ">Pagamento</button>
                </div>
            </div>

        </footer>
    </div>
    
</body>